/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --decor-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-menu: #353430;
  --accent-color-title: #FFC2E6;
  --accent-color-1024: #FF0070;
  --color-min-opacity: rgba(50, 49, 45, 0.4);
  --main-font: IBM Plex mono, Courier, mono;
  --background-image: url(../images/cover-image.png);
} 